:root.theme-dark {
  --cover-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --main-title-color: #db00ff;
  --title-color: #000028;
  --accent-color: #FF0070;
  --rec-visibility: visible;
  --article-text-color: #f1b2ce;
  --section-title-color:var(--accent-color);
  --header-menu-color:var(--accent-color);
}